In [1]:
import pandas as pd
order_history=r"/Users/ziyunchebn/Desktop/Big Data Analytics/Export complete order history.xlsx"

In [2]:
order_history_df=pd.read_excel(order_history)

In [3]:
order_history_df.dropna(inplace=True)

In [4]:
order_history_small=order_history_df[['Date(UTC)','Type','AvgTrading Price']]

In [5]:
from datetime import timedelta
order_history_small['Date(UTC)']=pd.to_datetime(order_history_small['Date(UTC)'])-timedelta(hours=4)

/Users/ziyunchebn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
order_history_small

              Date(UTC)  Type AvgTrading Price
0   2020-05-11 07:00:29  SELL          8827.36
3   2020-05-11 06:00:26   BUY          8506.39
6   2020-05-11 04:00:34  SELL          8679.55
9   2020-05-11 03:00:30  SELL          8682.20
12  2020-05-11 02:00:28  SELL          8671.50
..                  ...   ...              ...
276 2020-05-06 20:51:08  SELL          9193.00
279 2020-05-06 15:42:58   BUY          9242.67
282 2020-05-06 15:41:53  SELL          9234.06
285 2020-05-06 14:44:44  SELL          9224.74
288 2020-05-06 12:57:36  SELL          9267.20

[96 rows x 3 columns]

In [7]:
order_history_buy=order_history_small[order_history_small['Type']=="BUY"][['Date(UTC)','AvgTrading Price']]

In [8]:
order_history_sell=order_history_small[order_history_small['Type']=="SELL"][['Date(UTC)','AvgTrading Price']]

In [9]:
order_history_sell['Date(UTC)'].dt.tz

In [10]:
[item[0] for item in order_history_sell.values]

[Timestamp('2020-05-11 07:00:29'),
 Timestamp('2020-05-11 04:00:34'),
 Timestamp('2020-05-11 03:00:30'),
 Timestamp('2020-05-11 02:00:28'),
 Timestamp('2020-05-11 01:00:36'),
 Timestamp('2020-05-11 00:00:31'),
 Timestamp('2020-05-10 17:00:28'),
 Timestamp('2020-05-10 13:00:29'),
 Timestamp('2020-05-10 11:00:29'),
 Timestamp('2020-05-10 10:00:29'),
 Timestamp('2020-05-10 09:00:27'),
 Timestamp('2020-05-10 06:00:25'),
 Timestamp('2020-05-10 05:00:29'),
 Timestamp('2020-05-10 04:00:27'),
 Timestamp('2020-05-10 03:00:28'),
 Timestamp('2020-05-10 01:00:28'),
 Timestamp('2020-05-10 00:00:26'),
 Timestamp('2020-05-09 23:00:29'),
 Timestamp('2020-05-09 20:00:28'),
 Timestamp('2020-05-09 13:00:28'),
 Timestamp('2020-05-09 12:00:26'),
 Timestamp('2020-05-09 11:00:28'),
 Timestamp('2020-05-09 07:00:32'),
 Timestamp('2020-05-09 06:00:27'),
 Timestamp('2020-05-08 23:00:27'),
 Timestamp('2020-05-08 19:00:31'),
 Timestamp('2020-05-08 15:00:36'),
 Timestamp('2020-05-08 14:00:40'),
 Timestamp('2020-05-08 13:00:34'),
 Timestamp('2020-05-08 12:00:34'),
 Timestamp('2020-05-08 11:00:36'),
 Timestamp('2020-05-08 09:00:28'),
 Timestamp('2020-05-08 08:00:29'),
 Timestamp('2020-05-08 06:00:30'),
 Timestamp('2020-05-08 03:00:27'),
 Timestamp('2020-05-08 02:00:28'),
 Timestamp('2020-05-08 01:00:30'),
 Timestamp('2020-05-07 18:00:33'),
 Timestamp('2020-05-07 14:00:29'),
 Timestamp('2020-05-07 09:00:35'),
 Timestamp('2020-05-07 07:00:34'),
 Timestamp('2020-05-07 06:00:34'),
 Timestamp('2020-05-07 03:00:36'),
 Timestamp('2020-05-07 02:00:33'),
 Timestamp('2020-05-07 01:00:32'),
 Timestamp('2020-05-07 00:00:32'),
 Timestamp('2020-05-06 23:57:08'),
 Timestamp('2020-05-06 23:51:25'),
 Timestamp('2020-05-06 20:51:08'),
 Timestamp('2020-05-06 15:41:53'),
 Timestamp('2020-05-06 14:44:44'),
 Timestamp('2020-05-06 12:57:36')]

In [11]:
[item[1] for item in order_history_sell.values]

['8827.36',
 '8679.55',
 '8682.20',
 '8671.50',
 '8620.82',
 '8682.08',
 '8707.09',
 '8357.00',
 '8670.09',
 '8776.89',
 '8717.69',
 '8749.84',
 '8807.04',
 '8791.00',
 '8601.29',
 '8550.68',
 '8590.24',
 '8650.80',
 '9539.06',
 '9759.21',
 '9692.86',
 '9696.09',
 '9640.95',
 '9687.60',
 '9861.70',
 '9891.06',
 '9887.38',
 '9970.78',
 '9972.16',
 '9943.33',
 '9950.57',
 '9820.72',
 '9884.96',
 '9820.94',
 '9750.01',
 '9857.40',
 '9901.05',
 '9873.47',
 '9843.56',
 '9386.92',
 '9290.23',
 '9313.39',
 '9236.00',
 '9275.49',
 '9281.24',
 '9277.69',
 '9274.29',
 '9295.82',
 '9193.00',
 '9234.06',
 '9224.74',
 '9267.20']

In [12]:
order_history_sell.set_index('Date(UTC)').tz_convert(None)

TypeError: Cannot convert tz-naive timestamps, use tz_localize to localize

In [48]:
order_history_sell['AvgTrading Price'].astype(float).count()

52

In [27]:
order_history_sell['AvgTrading Price'].astype(float).

9287.078653846153

In [26]:
order_history_buy['AvgTrading Price'].astype(float).mean()

9466.788409090908

In [49]:
order_history_buy['AvgTrading Price'].astype(float).count()

44

In [38]:
order_history_small

              Date(UTC)  Type AvgTrading Price
0   2020-05-11 07:00:29  SELL          8827.36
3   2020-05-11 06:00:26   BUY          8506.39
6   2020-05-11 04:00:34  SELL          8679.55
9   2020-05-11 03:00:30  SELL          8682.20
12  2020-05-11 02:00:28  SELL          8671.50
..                  ...   ...              ...
276 2020-05-06 20:51:08  SELL          9193.00
279 2020-05-06 15:42:58   BUY          9242.67
282 2020-05-06 15:41:53  SELL          9234.06
285 2020-05-06 14:44:44  SELL          9224.74
288 2020-05-06 12:57:36  SELL          9267.20

[96 rows x 3 columns]

In [41]:
order_history_np=order_history_small.sort_values(by='Date(UTC)').values

In [42]:
order_history_np

array([[Timestamp('2020-05-06 12:57:36'), 'SELL', '9267.20'],
       [Timestamp('2020-05-06 14:44:44'), 'SELL', '9224.74'],
       [Timestamp('2020-05-06 15:41:53'), 'SELL', '9234.06'],
       [Timestamp('2020-05-06 15:42:58'), 'BUY', '9242.67'],
       [Timestamp('2020-05-06 20:51:08'), 'SELL', '9193.00'],
       [Timestamp('2020-05-06 23:51:25'), 'SELL', '9295.82'],
       [Timestamp('2020-05-06 23:57:08'), 'SELL', '9274.29'],
       [Timestamp('2020-05-07 00:00:32'), 'SELL', '9277.69'],
       [Timestamp('2020-05-07 01:00:32'), 'SELL', '9281.24'],
       [Timestamp('2020-05-07 02:00:33'), 'SELL', '9275.49'],
       [Timestamp('2020-05-07 03:00:36'), 'SELL', '9236.00'],
       [Timestamp('2020-05-07 04:00:34'), 'BUY', '9299.48'],
       [Timestamp('2020-05-07 05:00:37'), 'BUY', '9323.99'],
       [Timestamp('2020-05-07 06:00:34'), 'SELL', '9313.39'],
       [Timestamp('2020-05-07 07:00:34'), 'SELL', '9290.23'],
       [Timestamp('2020-05-07 08:00:40'), 'BUY', '9287.25'],
       [Timestamp('2020-05-07 09:00:35'), 'SELL', '9386.92'],
       [Timestamp('2020-05-07 13:00:36'), 'BUY', '9663.96'],
       [Timestamp('2020-05-07 14:00:29'), 'SELL', '9843.56'],
       [Timestamp('2020-05-07 16:00:31'), 'BUY', '9883.98'],
       [Timestamp('2020-05-07 17:00:29'), 'BUY', '9804.64'],
       [Timestamp('2020-05-07 18:00:33'), 'SELL', '9873.47'],
       [Timestamp('2020-05-07 19:00:31'), 'BUY', '9905.15'],
       [Timestamp('2020-05-07 20:00:32'), 'BUY', '9997.91'],
       [Timestamp('2020-05-07 21:00:34'), 'BUY', '10021.41'],
       [Timestamp('2020-05-07 22:00:27'), 'BUY', '9987.96'],
       [Timestamp('2020-05-07 23:00:36'), 'BUY', '9897.01'],
       [Timestamp('2020-05-08 00:00:33'), 'BUY', '9924.93'],
       [Timestamp('2020-05-08 01:00:30'), 'SELL', '9901.05'],
       [Timestamp('2020-05-08 02:00:28'), 'SELL', '9857.40'],
       [Timestamp('2020-05-08 03:00:27'), 'SELL', '9750.01'],
       [Timestamp('2020-05-08 04:00:29'), 'BUY', '9815.00'],
       [Timestamp('2020-05-08 05:00:29'), 'BUY', '9847.77'],
       [Timestamp('2020-05-08 06:00:30'), 'SELL', '9820.94'],
       [Timestamp('2020-05-08 07:00:30'), 'BUY', '9933.21'],
       [Timestamp('2020-05-08 08:00:29'), 'SELL', '9884.96'],
       [Timestamp('2020-05-08 09:00:28'), 'SELL', '9820.72'],
       [Timestamp('2020-05-08 10:00:43'), 'BUY', '9883.09'],
       [Timestamp('2020-05-08 11:00:36'), 'SELL', '9950.57'],
       [Timestamp('2020-05-08 12:00:34'), 'SELL', '9943.33'],
       [Timestamp('2020-05-08 13:00:34'), 'SELL', '9972.16'],
       [Timestamp('2020-05-08 14:00:40'), 'SELL', '9970.78'],
       [Timestamp('2020-05-08 15:00:36'), 'SELL', '9887.38'],
       [Timestamp('2020-05-08 18:00:33'), 'BUY', '10000.00'],
       [Timestamp('2020-05-08 19:00:31'), 'SELL', '9891.06'],
       [Timestamp('2020-05-08 20:00:32'), 'BUY', '9791.90'],
       [Timestamp('2020-05-08 21:00:29'), 'BUY', '9872.09'],
       [Timestamp('2020-05-08 22:00:28'), 'BUY', '9864.69'],
       [Timestamp('2020-05-08 23:00:27'), 'SELL', '9861.70'],
       [Timestamp('2020-05-09 00:00:31'), 'BUY', '9875.56'],
       [Timestamp('2020-05-09 01:00:29'), 'BUY', '9824.29'],
       [Timestamp('2020-05-09 02:00:33'), 'BUY', '9831.89'],
       [Timestamp('2020-05-09 03:00:29'), 'BUY', '9669.02'],
       [Timestamp('2020-05-09 04:00:28'), 'BUY', '9613.84'],
       [Timestamp('2020-05-09 05:00:25'), 'BUY', '9677.01'],
       [Timestamp('2020-05-09 06:00:27'), 'SELL', '9687.60'],
       [Timestamp('2020-05-09 07:00:32'), 'SELL', '9640.95'],
       [Timestamp('2020-05-09 08:00:30'), 'BUY', '9619.28'],
       [Timestamp('2020-05-09 09:00:29'), 'BUY', '9660.82'],
       [Timestamp('2020-05-09 11:00:28'), 'SELL', '9696.09'],
       [Timestamp('2020-05-09 12:00:26'), 'SELL', '9692.86'],
       [Timestamp('2020-05-09 13:00:28'), 'SELL', '9759.21'],
       [Timestamp('2020-05-09 14:00:27'), 'BUY', '9773.28'],
       [Timestamp('2020-05-09 15:00:28'), 'BUY', '9739.60'],
       [Timestamp('2020-05-09 16:00:28'), 'BUY', '9749.00'],
       [Timestamp('2020-05-09 20:00:28'), 'SELL', '9539.06'],
       [Timestamp('2020-05-09 21:00:28'), 'BUY', '8660.34'],
       [Timestamp('2020-05-09 23:00:29'), 'SELL', '8650.80'],
       [Timestamp('2020-05-10 00:00:26'), 'SELL', '8590.24'],
       [Timestamp('2020-05-10 01:00:28'), 'SELL', '8550.68'],
       [Timestamp('2020-05-10 02:00:25'), 'BUY', '8620.49'],
       [Timestamp('2020-05-10 03:00:28'), 'SELL', '8601.29'],
       [Timestamp('2020-05-10 04:00:27'), 'SELL', '8791.00'],
       [Timestamp('2020-05-10 05:00:29'), 'SELL', '8807.04'],
       [Timestamp('2020-05-10 06:00:25'), 'SELL', '8749.84'],
       [Timestamp('2020-05-10 07:00:27'), 'BUY', '8814.77'],
       [Timestamp('2020-05-10 08:00:28'), 'BUY', '8728.32'],
       [Timestamp('2020-05-10 09:00:27'), 'SELL', '8717.69'],
       [Timestamp('2020-05-10 10:00:29'), 'SELL', '8776.89'],
       [Timestamp('2020-05-10 11:00:29'), 'SELL', '8670.09'],
       [Timestamp('2020-05-10 12:00:27'), 'BUY', '8632.31'],
       [Timestamp('2020-05-10 13:00:29'), 'SELL', '8357.00'],
       [Timestamp('2020-05-10 16:00:25'), 'BUY', '8529.51'],
       [Timestamp('2020-05-10 17:00:28'), 'SELL', '8707.09'],
       [Timestamp('2020-05-10 19:00:28'), 'BUY', '8791.29'],
       [Timestamp('2020-05-10 20:00:29'), 'BUY', '8737.67'],
       [Timestamp('2020-05-10 21:00:27'), 'BUY', '8774.68'],
       [Timestamp('2020-05-10 22:00:26'), 'BUY', '8715.19'],
       [Timestamp('2020-05-10 23:00:29'), 'BUY', '8746.05'],
       [Timestamp('2020-05-11 00:00:31'), 'SELL', '8682.08'],
       [Timestamp('2020-05-11 01:00:36'), 'SELL', '8620.82'],
       [Timestamp('2020-05-11 02:00:28'), 'SELL', '8671.50'],
       [Timestamp('2020-05-11 03:00:30'), 'SELL', '8682.20'],
       [Timestamp('2020-05-11 04:00:34'), 'SELL', '8679.55'],
       [Timestamp('2020-05-11 06:00:26'), 'BUY', '8506.39'],
       [Timestamp('2020-05-11 07:00:29'), 'SELL', '8827.36']],
      dtype=object)

In [44]:
price_T=0
direction_T=0
correction_count=0

for row in order_history_np:
    
    price_T_1=price_T
    direction_T_1=direction_T
    
    price_T=row[2]
    direction_T=row[1]
    
    if direction_T_1 == 'SELL':
        if float(price_T)< float(price_T_1):
            correction_count=correction_count+1
    elif direction_T_1 == 'BUY':
        if float(price_T)> float(price_T_1):
            correction_count=correction_count+1
    print(correction_count)

0
1
1
1
1
1
2
2
2
3
4
4
5
5
6
7
8
8
9
9
9
10
10
11
12
12
12
13
13
14
15
15
16
16
16
16
17
17
18
19
19
20
21
21
21
22
23
23
23
23
23
24
24
24
25
26
27
28
29
30
31
31
31
31
32
32
33
33
34
35
35
35
35
35
36
36
36
36
36
37
38
38
38
39
39
39
40
40
41
41
42
42
42
43
44
45

In [45]:
(8827.36-9267.20)/9267.20

-0.047462016574585646

In [46]:
.02/45

0.00044444444444444447

In [47]:
45/96

0.46875